/***** NAVBAR STYLING *****/

.navbar {
    background-color: #f0f6de !important; /* background color requires !imp tag */
}

/* "kathleen nguyen esfahany" on left corner of nav" */
.navbar-brand {
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 20px;
}

.nav-item {
    letter-spacing: 0.7px;
    font-weight: 300 !important;
    font-size: 18px;
    padding-right: 30px !important;
}

.active {
    font-weight: 400 !important;
}

/***** FOOTER STYLING *****/
.footer {
    width: 100%;
    text-align: center;
    /* margin: auto; */
    font-weight: 300;
    font-size: 14px;
    color: gray;
    padding-bottom: 20px;
}

.footer p {
    margin: 0;
    padding-bottom: 5px;
}

.footer-heart {
    color: #C7CBB8;
    padding-right: 3px;
    padding-left: 3px;
}